.main-header {
    background-color: var(--primary-color);
    color: white;
}

.main-nav {
    max-width: var(--MXW);
    margin: 0 auto;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

.main-nav ul {
    list-style: none;
    float: right;
    padding: 8px;
}

.main-nav ul li {
    display: inline;
    float: right;
}

.main-nav ul li a {
    display: block;
}

.logo {
    font-size: 40px;
}