<div class="container">
    <h2>My Cottages</h2>
    <button routerLink="/add-cottage">Add New Cottage</button>

    <div *ngIf="myCottages.length > 0; else noCottages" class="cottages-grid">
        <div *ngFor="let c of myCottages" class="cottage-card">
            <h3>{{ c.name }}</h3>
            <p>{{ c.location }}</p>
            <div>
                <button [routerLink]="['/modify-cottage', c._id]">Modify</button>
                <button (click)="onDelete(c._id)">Delete</button>
            </div>
        </div>
    </div>

    <ng-template #noCottages>
        <div class="no-cottages-message">
            <p>You have no cottages.</p>
            <p>Click on a button "Add New Cottage" to add your first one.</p>
        </div>
    </ng-template>
</div>