<div class="register-container">
    <h2>Registration</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" formControlName="name">
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
                    Name is required.
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" id="surname" formControlName="surname">
                <div *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched" class="error">
                    Surname is required.
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" id="username" formControlName="username">
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="error">
                    Username is required.
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Password</label>
                <input type="password" id="password" formControlName="password">
                <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
                    <small *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</small>
                    <small *ngIf="registerForm.get('password')?.errors?.['pattern']">Password must have 6-10 characters, 1 uppercase letter, 3 lowercase letters, 1 number and 1 special character.</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" placeholder="Address" formControlName="address">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Phone Number" formControlName="phoneNumber">
        </div>
        <div class="form-group">
            <input type="email" placeholder="Email" formControlName="email">
        </div>

        <div class="form-group">
            <label for="creditCardNumber">Credit Card Number</label>
            <div class="input-with-icon">
                <input type="text" formControlName="creditCardNumber" id="creditCardNumber" (input)="onCardNumberInput($event)">
                <span class="card-icon">
                    <img *ngIf="detectedCardType === 'diners'" src="/assets/icons/diners.png" alt="Diners Club">
                    <img *ngIf="detectedCardType === 'mastercard'" src="/assets/icons/mastercard.png" alt="Mastercard">
                    <img *ngIf="detectedCardType === 'visa'" src="/assets/icons/visa.png" alt="Visa">
                </span>
            </div>
            <div *ngIf="registerForm.get('creditCardNumber')?.errors && registerForm.get('creditCardNumber')?.touched" class="error">
                <small *ngIf="registerForm.get('creditCardNumber')?.errors?.['required']">Credit card number is required.</small>
                <small *ngIf="registerForm.get('creditCardNumber')?.errors?.['luhnInvalid']">The credit card number is invalid</small>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group">
                <label>Gender</label>
                <select formControlName="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>I want to register as</label>
                <select formControlName="userType">
                    <option value="tourist">Tourist</option>
                    <option value="owner">Owner</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="profilePicture">Profile Picture (Optional)</label>
            <input #fileInput type="file" id="profilePicture" (change)="onFileSelected($event)">

            <div *ngIf="registerForm.get('profilePicture')?.errors && registerForm.get('profilePicture')?.touched" class="error">
                <small *ngIf="registerForm.get('profilePicture')?.errors?.['pictureType']">
                    Only PNG and JPG file formats are allowed.
                </small>
                <small *ngIf="registerForm.get('profilePicture')?.errors?.['minDimensions']">
                    The picture is too small. Minimum dimensions are 100x100px.
                </small>
                <small *ngIf="registerForm.get('profilePicture')?.errors?.['maxDimensions']">
                    The picture is too big. Maximum dimensions are 300x300px.
                </small>
                <small *ngIf="registerForm.get('profilePicture')?.errors?.['invalidPicture']">
                    The choosen file is not a picture.
                </small>
            </div>
            <div *ngIf="registerForm.get('profilePicture')?.pending">
                <small>Checking the picture...</small>
            </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid">Register</button>

        <div *ngIf="registrationSuccess" class="success-message">
            {{ registrationSuccess }}
        </div>
        <div *ngIf="registrationError" class="error-message">
            {{ registrationError }}
        </div>

    </form>
</div>