.bar-chart-section,
.pie-chart-section {
    margin-top: 3rem;
    padding: 1rem; /* Smanjen padding za mobilne uređaje */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow-x: auto; /* Dodato da omogući horizontalno skrolovanje ako je potrebno */
}

.pie-chart-grid {
    display: grid;
    /* Prilagođeno za manje ekrane */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-items: center;
}

.pie-chart-container {
    text-align: center;
}

.pie-chart-container h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

:host ::ng-deep .ngx-charts .legend-title-text {
    font-weight: bold !important;
}

/* Media query za veće ekrane */
@media (min-width: 768px) {
    .bar-chart-section,
    .pie-chart-section {
        padding: 2rem; /* Vraćen veći padding za desktop */
    }
}
