.container h1 {
    margin-bottom: 0.5rem;
}

.container p {
    text-align: center;
    color: #666;
    margin-bottom: 2rem;
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: wrap;
}

.numeric-rating {
    font-weight: bold;
    color: var(--warning-color);
}

.star {
    color: var(--warning-color);
    font-size: 1rem;
}

@media (max-width: 768px) {
    .rating {
      gap: 0.1rem;
    }
}
